/ {
    macros {
        console: console {
            label = "SZWL_console";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp TILDE>
                , <&macro_release &kp LALT>
                ;
        };
    };
};
